/**
 * Sass variables and functions.
 *
 * @package %Theme_Name%
 * @author %Author%
 */

@import 'functions';

/* Global */
$rem-base: 16px !default;

 /* Typography */
$body-font-family: sans-serif;
$body-text-color: #333;
$body-line-height: 1.8em;

$link-color: rgb(0,0,238);
$link-hover-color: $link-color;

$heading-font-family: $body-font-family;
$heading-color: $body-text-color;

/** Sprite maps */
//$icon_sprites: sprite-map('ico/*.png');