/**
 * Sass variables and functions.
 *
 * @package %Theme_Name%
 * @author %Author%
 */

@import 'functions';

/* Global */
$rem-base: 16px !default;

$container-max-width: 980px;
$container-padding: 4%;

// Timing
$transition-speed: .4s;
$link-transition-speed: .15s;

 /* Typography */
$body-font-family: sans-serif;
$body-text-color: #333;
$body-line-height: 1.8em;

$link-color: rgb(0,0,238);
$link-hover-color: darken($link-color, 10%);

$heading-font-family: $body-font-family;
$heading-color: $body-text-color;

/** Sprite maps */
//$icon_sprites: sprite-map('ico/*.png');